.hero {
  margin-bottom: 9.6rem;

  @media (max-width: 768px) {
    margin-bottom: 4.8rem;
  }
}

.copyWrapper {
  position: relative;
  z-index: 10;

  width: fit-content;
  margin: 4.8rem 0;
}

.title {
  font-size: var(--text-2xl);
  font-weight: 700;
  line-height: 1.1;

  span {
    color: var(--brand);
  }

  @media (max-width: 768px) {
    font-size: var(--text-xl);
  }
}

.subTitle {
  font-size: var(--text-lg);
  line-height: 1.1;
  margin-top: 1.6rem;
  font-weight: 400;

  span {
    font-weight: bold;
    color: var(--brand);
  }
}

.aboutCopy {
  margin: 2.4rem 0;
  padding: 2.4rem;
  max-width: 700px;
  font-weight: 400;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
}
