.stats {
  position: relative;
}

.statColumn {
  h3 {
    display: flex;
    align-items: center;

    margin-bottom: 2.4rem;
    span {
      font-size: var(--text-sm);
      position: relative;
      font-weight: bold;
    }
  }
  h4 {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    margin-bottom: 2.4rem;
    span {
      font-size: var(--text-xs);
      position: relative;
      margin-left: 0.8rem;
    }
  }
}

.statGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;

  margin-bottom: 4.8rem;
}
