.stats {
  position: relative;
}

.statColumn {
  h3 {
    display: flex;
    align-items: center;

    margin-bottom: 2.4rem;
    span {
      font-size: var(--text-md);
      position: relative;
      font-weight: bold;
    }
  }
  h4 {
    display: flex;
    align-items: center;

    margin-bottom: 2.4rem;
    span {
      font-size: var(--text-md);
      position: relative;
      font-weight: lighter;
      margin-left: 0.8rem;
    }
  }
}

.statGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;

  margin-bottom: 4.8rem;
  /* convert all of the above to tailwindcss*/
  @apply mb-12 flex flex-wrap gap-4;
}
